/* Основной цвет: #212121; #2196F3,  #FFFFFF, #757575, rgba(255, 255, 255, 0.6); */
/* #2F303A */

:root {
  --main-text-color: #212121;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;
  --secondory-white-color: #ffffff;
  --owner-text-color: #757575;
  --contener-color: #eeeeee;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, -0.6);
  --background-footer-color: #2f303a;
  --background--section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #f5f5f5;
  --icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------Скрытый заголовок---------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  color: var(--main-text-color);
  background: var(--secondory-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.link,
.links-contacts,
.logo,
.map-link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.page-header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.enefits-section {
  padding-bottom: 0;
}
/* ------------------секция логотипа----------------- */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.page-header-logo {
  display: inline-block;
  margin-right: 93px;
}
.logo-header {
  color: var(--logo-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/* --------------Site nav----------- */
.page-header > .container {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
}
.page-header .list {
  display: flex;
  /* gap: 50px; */
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
/* .site-nav .link {
  padding-bottom: 32px;
  padding-top: 32px;
} */
.link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: inline-block;
}
.page-header a:hover,
.page-header a:focus {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0;
  background-color: var(--accent-color);
  bottom: -33px;
}

.link.current {
  position: relative;
}

.site-nav-item a {
  transition: color 250ms var(--timing-function);
}
/* -----------------------Секция контактов------------- */
.section-contacts {
  margin-left: auto;
}
/* .header-contact-link:not(:last-child) {
  margin-right: 50px;
} */
.header-contact-link + .header-contact-link {
  margin-left: 50px;
}
.header-contact-link .links-contacts {
  color: var(--owner-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

.header-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.links-contacts:hover,
.links-contacts:focus {
  color: var(--accent-color);
}

.link.current,
.links-contacts.current {
  color: var(--accent-color);
}

/*--------------------------Секция героя----------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--secondory-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 10px 32px;
  /* border: 1px solid transparent; */
  border: none;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--secondory-white-color);
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition-property: background-color, color, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: var(--timing-function);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* --------------------Секция преимуществ---------------- */
.our-advantages {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 30px;
  /* align-items: center; */
}
.advantages-item {
  max-width: 270px;
}

.advantages-item::before {
  display: block;
  content: '';
  height: 120px;
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--buttons-port-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.advantages-item:first-child {
  margin-left: 0;
}
.advantages-list {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}
.description-advantages {
  color: var(--owner-text-color);
  line-height: 1.71;
}
/* ----------------------Чим ми займаємося---------------- */
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about-item {
  position: relative;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.lineofwork-over-text {
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondory-white-color);
  bottom: 0;
}
/* ----------------Наша команда-------------- */
.our-team-section {
  background-color: var(--buttons-port-color);
}
.our-team-list {
  display: flex;
  width: calc(100%-90) / 4;
  /* flex-wrap: wrap; */
  /* gap: 30px; */
}

.profession-name {
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  /* fill: var(--icon-color); */
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--secondory-white-color);
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-content {
  padding: 30px 0;
}
.our-team-item {
  background-color: var(--secondory-white-color);
  /* max-width: 260 px; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
.team-list {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.profession-name {
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* ------------------Постоянные клиенты------------------------ */
.regular-customers-list {
  display: flex;
  gap: 30px;
  /* justify-content: center; */
}

.regular-customers-item {
  width: calc((100% - 150px + 12px) / 6);
  display: flex;
  /* justify-content: center;
  flex-wrap: wrap; */
}

.clients-link {
  /* width: calc(100%); */
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-icon {
  /* fill: currentColor; */
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* ------------------Страница портфолио-------------------- */
/*------------------- Секция проектов---------------------  */
.btn-portfolio {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--secondory-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
}
.projects-item {
  width: calc(100%-60px) / 3;
}
.portfolio-over-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-link:hover .portfolio-over-text,
.portfolio-item-link:focus .portfolio-over-text {
  transform: translateY(0);
}

.portfolio-over-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--secondory-white-color);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  font-weight: 400;
  height: calc(100% + 1px);
  width: inherit;
  top: 0;
  left: 0;
  padding: 63px 24px;
  display: flex;
  justify-content: center;

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-item-link {
  display: block;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-text {
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  padding: 20px 24px;
  border: 1px;
  border-style: solid;
  border-top-width: 0;
  border-top-style: hidden;
  border-color: var(--contener-color);
}
.job-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-list {
  color: var(--owner-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* -----------------------page-footer-------------------- */
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  /* display: block;
  width: 206px; */
  margin-left: 70px;
}
.footer-social-title,
.footer-signup-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondory-white-color);
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondory-white-color);

  transition: background-color 250ms var(--timing-function);
}
.footer-soc-link {
  color: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.page-footer {
  padding: 60px 0;
  background-color: var(--background-footer-color);
}
.adress-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}
.map-link {
  color: var(--secondory-white-color);
  font-style: normal;
  line-height: 1.71;

  transition: color 250ms var(--timing-function);
}
.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}
.links-contacts {
  color: var(--owner-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-footer {
  color: var(--secondory-white-color);
}
.address {
  margin-top: 20px;
}
.address-footer {
  color: var(footer-text-color);
  line-height: 1.7;
  font-style: normal;

  transition: color 250ms var(--timing-function);
}
/* --------------------Секция формы футера---------------- */
.footer-form {
  margin-left: auto;
}
.footer-signup {
  display: flex;
}

.footer-form-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondory-white-color);
}
.signup-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: var(--secondory-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondory-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.signup-btn:hover,
.signup-btn:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.signup-icon {
  margin: 10px;
  fill: currentColor;
}

/* ----------------------Модальное окно---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotateX(0deg);
  transition: transform 250ms var(--timing-function);

  width: 528px;
  height: 582px;
  background-color: var(--secondory-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-icon {
  right: 0;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondory-white-color);
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}
.modal-form {
  width: 100%;
}
.modal-field {
  position: relative;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}
.modal-field.texarea {
  margin-bottom: 0;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--owner-text-color);
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--owner-text-color);
  outline: transparent;
  transition: border-color 250ms var(--timing-function);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--logo-text-color);
  transition: fill 250ms var(--timing-function);
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--accent-bg-color);
}

.modal-comment {
  padding: 12px 16px;
  height: 120px;
  cursor: pointer;
  color: var(--owner-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .checkbox-input:hover + .checkbox-check,
.checkbox-input:focus + .checkbox-check {
  border-color: var(--accent-color);
} */

.checkbox-input:checked + .checkbox-check {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-checkbox-label {
  margin-left: 8px;
  cursor: pointer;
  color: var(--owner-text-color);
  line-height: 1.71;
}

.checkbox-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  fill: transparent;
  cursor: pointer;
  border: 2px solid var(--main-text-color);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.check-icon {
  display: flex;
  position: absolute;
}

.agreement-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondory-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-bg-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
