.section-contacts {
  margin-left: auto;
}
/* .header-contact-link:not(:last-child) {
  margin-right: 50px;
} */
.header-contact-link + .header-contact-link {
  margin-left: 50px;
}
.header-contact-link .links-contacts {
  color: var(--owner-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

.header-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.links-contacts:hover,
.links-contacts:focus {
  color: var(--accent-color);
}

.link.current,
.links-contacts.current {
  color: var(--accent-color);
}
